@page "/"

<!--

    This is a simple form that generates some text.
    When I print, I don't want the form to be printed.
    How can I hide the form when I print?

-->


<PageTitle>Silly Story Generator</PageTitle>

<label>Adjective:</label>
<input disabled="@disabled" @bind="Adj1" />
<br />
<br />

<label>Noun:</label>
<input disabled="@disabled" @bind="Noun1" />
<br />
<br />

<label>Adjective:</label>
<input disabled="@disabled" @bind="Adj2" />
<br />
<br />

<label>Noun:</label>
<input disabled="@disabled" @bind="Noun2" />
<br />
<br />

<label>Plural Noun:</label>
<input disabled="@disabled" @bind="PlNoun1" />
<br />
<br />

<label>Noun:</label>
<input disabled="@disabled" @bind="Noun3" />
<br />
<br />

<button disabled="@disabled" @onclick="GenerateStory">Generate</button>
<br />
<br />

<h1>@Title</h1>
<p>@Story</p>

@code {

    bool disabled = false;
    string Title { get; set; } = string.Empty;
    string Story { get; set; } = string.Empty;
    string Noun1 { get; set; } = string.Empty;
    string Adj1 { get; set; } = string.Empty; 
    string Noun2 { get; set; } = string.Empty;
    string Adj2 { get; set; } = string.Empty;
    string PlNoun1 { get; set; } = string.Empty;
    string Noun3 { get; set; } = string.Empty;


    void GenerateStory()
    {
        disabled = true;
        Title = $"The Legend of {Adj1} {Noun1}";
        Story = $"Once upon a time, there was a {Adj1} {Noun1} who lived in a {Adj2} {Noun2}.";
        Story += $" One day, the {Adj1} {Noun1} went on a quest to find the legendary {PlNoun1} of the {Noun3}.";
    }
}
